@font-face {
  font-family: 'Kaushan';
  src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
}
.otf-font {
  font-family: 'Kaushan', sans-serif;
}
ion-grid {
    --ion-grid-padding: 10px;
    --ion-grid-column-padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  
    ion-row {
      align-items: center; 
    }
  
    ion-col {
      border-bottom: 1px solid #eee; 
      &:last-child {
        border-bottom: none; 
      }
    }
  }
  
  // Estilos para los botones para darles más espacio y visualización clara
  ion-button {
    margin: 4px;
    font-size: 0.8em; 
  
    &.selected {
      background-color: var(--ion-color-primary); 
      color: var(--ion-color-light); 
    }
  }
  
  // Ajustes para el área de texto
  ion-textarea {
    --padding-start: 8px; 
    --padding-end: 8px; 
    --padding-top: 8px; 
    --padding-bottom: 8px; 
    min-height: 50px; 
    border: 1px solid #fff; 
    border-radius: 8px; 
    background-color: transparent; 
  }

  .guardar-button {
    position:static;// Posición fija para que se mantenga en la misma posición 
    
  }

  .background-image {
    position: fixed; /* Fijar el fondo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/escuelatripulantes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
    opacity: 0.6;
    z-index: -1; /* Colocar detrás del contenido */
  }

  .background-container {
    background-image: url('/assets/escuelatripulantes.jpg');
    background-repeat: repeat;
  }
  .numero-col {
    width: 50px; /* Ajusta el valor según el ancho deseado */
    text-align: center; 
  }

  .content-container {
    position: relative;
    z-index: 1;
  }

  ion-header {
    background-color: #000 !important; /* Asegúrate de usar negro sólido */
    color: #fff !important; /* Asegúrate de que el texto sea blanco */
    border-bottom: 3px solid #ea00f6; /* Mantén el borde inferior si lo deseas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantén la sombra para profundidad */
  }
  
  ion-toolbar {
    --background: transparent !important; /* Evita que el ion-toolbar sobrescriba el color de fondo */
  }
  .title-container {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    color: white;
  
  }
  ion-icon{
    color: white;
  }
  .header-logo {
    height: 50px; /* Ajusta la altura del logo según sea necesario */
    margin-right: 10px; /* Espacio a la derecha del logo */
    
  }
  
