<ion-header>
  <ion-toolbar>
    <div class="title-container">
      <ion-title class="otf-font">Agregar Observación</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Cerrar</ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
  <div class="form-container">
  <ion-item>
    <ion-label position="stacked">Observación</ion-label>
    <ion-textarea [(ngModel)]="observacionText"></ion-textarea>
  </ion-item>
  <ion-button  (click)="submitObservacion()">Guardar Observación</ion-button>
</div>
</ion-content>
