/* Estilos generales para el contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--ion-background-color); /* Color de fondo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efecto elevado */
}

/* Estilos para el formulario */
.custom-form {
    margin-bottom: 1rem; /* Margen inferior */
    width: 100%; /* Ancho completo */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaciado entre elementos del formulario */
}

/* Estilos para el contenedor del textBox */
.textBox-container {
    background-color: #f9fafb; /* Fondo gris claro */
    border-radius: 0.375rem; /* Bordes redondeados */
    border: 1px solid #e5e7eb; /* Borde gris claro */
}

/* Estilos para el textBox */
.textBox {
    padding: 0.5rem 1rem; /* Padding */
    background-color: white; /* Fondo blanco */
    border-bottom-left-radius: 0.375rem; /* Esquinas redondeadas inferiores */
    border-bottom-right-radius: 0.375rem;
}

/* Estilos para el contenido del textBox */
.textBox-content {
    display: block;
    padding: 0;
    width: 100%; /* Ancho completo */
    font-size: 0.875rem; /* Tamaño de fuente */
    color: #2d3748; /* Color de texto */
    background-color: white; /* Fondo blanco */
    border: none; /* Sin borde */
}

/* Estilos para las opciones */
.opciones {
    padding: 10px;
    display: flex;
    gap: 0.5rem; /* Espaciado entre opciones */
}

/* Estilos para el contenedor de botones */
.boton-container {
    padding: 0 10px;
    display: flex;
    gap: 0.5rem; /* Espaciado entre botones */
}

/* Estilos para los botones */
.boton {
    display: inline-flex;
    align-items: center;
    padding: 0.625rem 1.25rem; /* Padding */
    font-size: 0.875rem; /* Tamaño de fuente */
    font-weight: 500; /* Grosor de fuente */
    text-align: center;
    color: white; /* Color de texto blanco */
    border-radius: 0.375rem; /* Bordes redondeados */
    cursor: pointer;
}

/* Estilos para el botón de submit */
.boton-submit {
    background-color: #1d4ed8; /* Fondo azul */
}

.boton-submit:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #93c5fd; /* Sombra de enfoque */
}

.boton-submit:hover {
    background-color: #1e40af; /* Fondo azul oscuro al pasar el ratón */
}

/* Estilos para el botón de cancelar */
.boton-cancel {
    background-color: #4b5563; /* Fondo gris */
}

.boton-cancel:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #cbd5e1; /* Sombra de enfoque */
}

.boton-cancel:hover {
    background-color: #374151; /* Fondo gris oscuro al pasar el ratón */
}
