<div class="form-container">
  <form class="custom-form" (ngSubmit)="submitObservacion()">
    <div class="textBox-container">
      <div class="textBox">
        <textarea id="editor" rows="12" [(ngModel)]="observacionText" name="observacionText" 
        class="textBox-content" placeholder="Escriba observación..." required></textarea>
      </div>
    </div>
    <div class="opciones">
      <input type="radio" name="observacionTipo" id="positiva" [(ngModel)]="observacionTipo" [value]="true" />
      <label for="positiva">Positiva</label>
      <input type="radio" name="observacionTipo" id="negativa" [(ngModel)]="observacionTipo" [value]="false" />
      <label for="negativa">Negativa</label>
    </div>
    <div class="boton-container">
      <button type="submit" class="boton boton-submit">Guardar Observación</button>
      <button type="button" (click)="closeModal()" class="boton boton-cancel">Cancelar</button>
    </div>
  </form>
</div>
