@font-face {
  font-family: 'Kaushan';
  src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
}
.otf-font {
  font-family: 'Kaushan', sans-serif;
}
.custom-content {
  position: relative;
  border-radius: 15px; /* Bordes redondeados */
}

.custom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/escuelatripulantes.jpg');
  border-radius: 15px; /* Bordes redondeados */
  background-size: cover;
  filter: blur(8px); /* Difumina la imagen de fondo */
  z-index: -1; /* Empuja la imagen detrás del contenido */
}

.custom-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Hace el card semi transparente */
  border-radius: 15px; /* Bordes redondeados */
}

.custom-content ion-col {
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Agrega profundidad */
}

.custom-sidebar {
  background-color: rgba(255, 255, 255, 0.8); /* Hace el sidebar semi transparente */
  border-radius: 15px; /* Bordes redondeados */
}

.custom-main-content {
  background-color: rgba(255, 255, 255, 0.8); /* Hace el contenido principal semi transparente */
  border-radius: 15px; /* Bordes redondeados */
}

.custom-button {
  margin-top: 20px;
  border-radius: 15px; /* Bordes redondeados */
}

.custom-sidebar-item {
  border-radius: 15px; /* Bordes redondeados */
}

.custom-grade-header{
  border-radius: 15px; /* Bordes redondeados */
}

.custom-grade-item{
  border-radius: 15px; /* Bordes redondeados */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px); /* Difuminado de la imagen */
  opacity: 0.6; /* Opacidad */
  z-index: -1;
}

ion-header {
  background-color: #000 !important; /* Asegúrate de usar negro sólido */
  color: #fff !important; /* Asegúrate de que el texto sea blanco */
  border-bottom: 3px solid #ccc; /* Mantén el borde inferior si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantén la sombra para profundidad */
}

ion-toolbar {
  --background: transparent !important; /* Evita que el ion-toolbar sobrescriba el color de fondo */
}
.title-container {
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
}
.header-logo {
  height: 50px; /* Ajusta la altura del logo según sea necesario */
  margin-right: 10px; /* Espacio a la derecha del logo */
 
}
