<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="title-container">
      <ion-title class="font-semibold">Libro de clases</ion-title>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo" (click)="irAInicio()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let alumno of alumnos">
          <ion-label>
            {{ alumno.apellido }} {{ alumno.apmaterno }} {{ alumno.nombre }}
          </ion-label>
          <ion-button (click)="verDetallesAlumno(alumno)">
            Detalles
          </ion-button>
          <ion-button (click)="agregarNotaAlumno(alumno.rut)">
            Agregar Nota
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
