ion-header {
    ion-toolbar {
      background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
    }
  }
  
  ion-content {
    ion-grid {
      ion-col {
        ion-list {
          background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
          border-radius: 15px; /* Bordes redondeados */
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
          overflow: hidden;
        }
  
        ion-item.column-header {
          background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
          border-radius: 15px; /* Bordes redondeados */
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
          overflow: hidden;
        }
  
        ion-item {
          background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
          border-radius: 15px; /* Bordes redondeados */
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
          overflow: hidden;
        }
      }
    }
  }
  