@font-face {
  font-family: 'Kaushan';
  src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
}
.otf-font {
  font-family: 'Kaushan', sans-serif;
}
.custom-content {
  position: relative;
  border-radius: 15px; /* Bordes redondeados */
}

.custom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/escuelatripulantes.jpg');
  border-radius: 15px; /* Bordes redondeados */
  background-size: cover;
  filter: blur(8px); /* Difumina la imagen de fondo */
  z-index: -1; /* Empuja la imagen detrás del contenido */
}

.custom-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Hace el card semi transparente */
  border-radius: 15px; /* Bordes redondeados */
}

.custom-content ion-col {
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Agrega profundidad */
}

.custom-sidebar {
  background-color: rgba(255, 255, 255, 0.8); /* Hace el sidebar semi transparente */
  border-radius: 15px; /* Bordes redondeados */
}

.custom-main-content {
  background-color: rgba(255, 255, 255, 0.8); /* Hace el contenido principal semi transparente */
  border-radius: 15px; /* Bordes redondeados */
}

.custom-button {
  margin-top: 20px;
  border-radius: 15px; /* Bordes redondeados */
}

.custom-sidebar-item {
  border-radius: 15px; /* Bordes redondeados */
}

.custom-grade-header{
  border-radius: 15px; /* Bordes redondeados */
}

.custom-grade-item{
  border-radius: 15px; /* Bordes redondeados */
}

.background-image {
  position: fixed; /* Fijar el fondo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/escuelatripulantes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  opacity: 0.6;
  z-index: -1; /* Colocar detrás del contenido */
}

ion-header {
  background-color: #000 !important; /* Asegúrate de usar negro sólido */
  color: #fff !important; /* Asegúrate de que el texto sea blanco */
  border-bottom: 3px solid #ea00f6; /* Mantén el borde inferior si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantén la sombra para profundidad */
} 

ion-toolbar {
  --background: transparent !important; /* Evita que el ion-toolbar sobrescriba el color de fondo */
} 
.title-container {
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
  color: white;
}
ion-icon{
  color: white;
}
.header-logo {
  height: 50px; /* Ajusta la altura del logo según sea necesario */
  margin-right: 10px; /* Espacio a la derecha del logo */
 
}



.barraNotas {
  background-color: #333; /* Fondo del toolbar */
  color: rgb(255, 255, 255);
  
  padding: 10px; /* Espaciado dentro del toolbar */
  display: flex;
  justify-content: center;
}

.input-barraNotas{
  background: #fff;
  color: #000;
}

.numeroDeNotas{
  color: #000;
}

.container {
  margin-top: 20px;
}

.input-nota {
  width: 40px; /* Ajuste del ancho del input */
  background: #fff;
  text-align: center;
  margin: 2px;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  text-align: center;
}

th:nth-child(2), td:nth-child(2) {
  width: 60%; /* Fija el ancho de la columna de notas */
}

th, td {
  padding: 8px; /* Añade padding para la legibilidad */
}


/* Estilo para asegurar que el botón en el pie de la tabla esté centrado */
tfoot td {
  padding: 16px; /* Añade padding para espaciado */
  text-align: center; /* Centra el contenido */
  background-color: #f9f9f9; /* Color de fondo opcional para diferenciar el pie */
}

/* Estilo para el botón */
tfoot button {
  margin-top: 20px;
  border-radius: 15px; /* Bordes redondeados */
}


/* Agrega esto a tu archivo CSS o dentro de una etiqueta <style> en tu componente */
input[type="number"] {
  -webkit-appearance: none; /* Para navegadores basados en WebKit */
  -moz-appearance: textfield; /* Para navegadores basados en Mozilla */
  appearance: textfield; /* Propiedad estándar */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
