<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="title-container">
      <ion-title class="font-semibold">Cursos</ion-title>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo" (click)="irAInicio()">
    </div>
  </ion-toolbar>
  <link rel="stylesheet" href="https://horizon-tailwind-react-corporate-7s21b54hb-horizon-ui.vercel.app/static/css/main.d7f96858.css" />
</ion-header>


<ion-content [fullscreen]="true" class="cursos-page">
  <div class="background-image"></div>

  <div class="cursos-container">
    <div class="flex flex-col justify-center items-center">
      <div class="min-w-[375px] md:min-w-[700px] xl:min-w-[800px] mt-3 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-3 3xl:grid-cols-6">
        <button class="relative flex flex-grow flex-col items-center rounded-[10px] border-[1px] border-black-500 bg-white bg-clip-border" *ngFor="let curso of curso" (click)="verCursos(curso.id_curso)">
          <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
            
            <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
              <span class="flex items-center text-brand-500 dark:text-white">{{curso.curso}}</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</ion-content>

