@font-face {
    font-family: 'Kaushan';
    src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
  }
  .otf-font {
    font-family: 'Kaushan', sans-serif;
  }

  .title-container {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    color: white;
  }
  .header-logo {
    height: 50px; /* Ajusta la altura del logo según sea necesario */
    margin-right: 10px; /* Espacio a la derecha del logo */
    
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/escuelatripulantes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
    opacity: 0.6;
    z-index: -1;
  }
  ion-card-content {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  ion-header {
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  ion-toolbar { 
    --background: transparent !important;
  }
  ion-title {
    color: white;
  }
  ion-icon {
    color: white; 
  }
  