<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <div class="title-container">
      <ion-title class="otf-font">Anotaciones</ion-title>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo" (click)="irAInicio()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="anotacion-page flex flex-col">
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">

  <section class="container mx-auto p-6 font-mono flex-grow">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg h-full flex flex-col">
      <div class="w-full overflow-x-auto flex-grow">
        <div class="table-container h-full overflow-y-auto">
          <table class="w-full h-full">
            <thead>
              <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                <th class="px-4 py-3">RUT</th>
                <th class="px-4 py-3">Alumno</th>
                <th class="px-4 py-3">Anotacion</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr class="text-gray-700" *ngFor="let alumno of alumnos">
                <td class="px-4 py-3 border">
                  <div class="flex items-center font-semibold text-sm text-black visible-text">
                    {{ alumno.rut }}
                  </div>
                </td>
                <td class="px-4 py-3 text-ms font-semibold border">
                  <div class="flex items-center font-semibold text-sm text-black visible-text">
                    {{ alumno.nombre }}
                  </div>
                </td>
                
                <td class="px-4 py-3 text-ms font-semibold border">
                  <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800" (click)="presentModal(alumno.rut)">
                    Agregar Anotacion
                  </button>
                </td>
              </tr>
              <!-- Agrega más filas aquí -->
            </tbody>
          </table>  
        </div>
      </div>
    </div>
  </section>
</ion-content>
