<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asignatura</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content [fullscreen]="true">


  <ion-content>
    <ion-list *ngIf="asignaturas.length > 0; else noData">
      <ion-item *ngFor="let asignatura of asignaturas" (click)="verDetallesAsignatura(asignatura.id)">
        {{ asignatura.nombre_asignatura }}
      </ion-item>
    </ion-list>
    <ng-template #noData>
      <ion-item>
        <ion-label>No hay asignaturas disponibles</ion-label>
      </ion-item>
    </ng-template>
  </ion-content>

</ion-content>