<ion-header [translucent]="true" class="login-header">
  <ion-toolbar>
    <ion-title>ClassTrack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">

  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">

        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="usuario-nombre"> 
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>

        <ion-item class="password" >
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button class="boton-ingresar">Ingresar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-item lines="none" class="ion-text-center">
    <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
    <ion-label>¿Olvidaste tu contraseña?</ion-label>
    <ion-button fill="solid" color="primary" shape="round">Recuperar contraseña</ion-button>
  </ion-item>
</ion-content>
