
<ion-app>
  <ion-router-outlet id="main-content">
    <ion-header>
      
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink="/inicio" routerDirection="back">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <div class="header-left">
          
          <div class="user-name"></div>
        </div> 
        <ion-title class="otf-font">ClassTrack</ion-title>
        <ion-buttons class="boton-logout" slot="end">
          <ion-button class="cerrar-sesion"> 
            <ion-title class="logout">Cerrar sesión</ion-title>
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
      <div class="">
        <ion-grid>
          <ion-row class="centered-row">
            <ion-col size="4" class="icon-container" (click)="reporte()" [routerLink]="['/reporte']">
              <img src="/assets/icon/informe-nota.png" class="large-icon" alt="Reporte de Notas "(click)="reporte()" [routerLink]="['/reporte']">
              <ion-label class="otf-font2">Notas</ion-label>
            </ion-col>
            <ion-col size="4" class="icon-container" (click)="anotacion()"[routerLink]="['/informe-anotacion']" >
              <img src="/assets/icon/informe-anotacion.png" class="large-icon" alt="Anotaciones"(click)="anotacion()"[routerLink]="['/informe-anotacion']">
              <ion-label class="otf-font2">Anotaciones</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="centered-row">
            <ion-col size="4" class="icon-container" (click)="asistencia()" [routerLink]="['informe-asistencia']">
              <img src="/assets/icon/informe-asistencia.png" class="large-icon" alt="Asistencia" (click)="asistencia()" [routerLink]="['informe-asistencia']">
              <ion-label class="otf-font2">Asistencia</ion-label>
            </ion-col>
            <ion-col size="4" class="icon-container" (click)="observaciones" [routerLink]="['/informe-observacion']">
              <img src="/assets/icon/informe-observacion.png" class="large-icon" alt="Observaciones" (click)="observaciones" [routerLink]="['/informe-observacion']">
              <ion-label class="otf-font2">Observaciones</ion-label>
            </ion-col>
          </ion-row>
          
        </ion-grid>
      </div>
    </ion-content>
     
    <ion-footer>
      <ion-toolbar>
        <ion-title>Footer Content</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-router-outlet>
</ion-app>
