<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <div class="title-container">
      <ion-title class="otf-font">Reportes</ion-title>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo" >
      <ion-icon name="notifications-outline" class="notification-icon" (click)="toggleNotificationsMenu()"></ion-icon>
    </div>
    

  </ion-toolbar>
</ion-header>
<div class="notifications-menu" [class.show]="showNotificationsMenu">
  <ion-list>
    <ion-item *ngFor="let notification of notifications">
      {{ notification }}
    </ion-item>
  </ion-list>
</div>

<ion-content class="ion-padding">
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterAlumnos()"></ion-searchbar>
  <ion-select placeholder="Seleccionar Curso" [(ngModel)]="selectedCurso" (ionChange)="filterAlumnos()">
    <ion-select-option value="">Todos los Cursos</ion-select-option> <!-- Opción para deseleccionar -->
    <ion-select-option *ngFor="let curso of cursos" [value]="curso.curso">
      {{ curso.curso }}
    </ion-select-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let alumno of filteredAlumnos">
      <ion-label>
        <h2>{{ alumno.nombre }} {{ alumno.apellido }} {{ alumno.apmaterno }}</h2>
        <p>RUT: {{ alumno.rut }}</p>
        <p>Curso: {{ alumno.curso?.curso || 'Sin curso' }}</p>
      </ion-label>
      <ion-button (click)="presentModal(alumno.rut)">generar reporte</ion-button>
      <ion-button (click)="vernotas(alumno.rut)">Ver Notas</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
