<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>VerAnotacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VerAnotacion</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let motivo of motivo">
      <ion-label>
        <h2>{{ motivo.motivo }}</h2>
        <p>{{ motivo.id_alumno }} </p>
        <p>Asignatura: {{ motivo.id_asignatura }}</p>
        <p>Fecha: {{ motivo.fecha }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>