@font-face {
  font-family: 'Kaushan';
  src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
}
.otf-font {
  font-family: 'Kaushan', sans-serif;
}
.background-image {
  position: fixed; /* Fijar el fondo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/escuelatripulantes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  opacity: 0.6;
  z-index: -1; /* Colocar detrás del contenido */
}

  ion-card-content {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi transparente */
  }

  ion-header {
    background-color: #000 !important; /* Asegúrate de usar negro sólido */
    color: #fff !important; /* Asegúrate de que el texto sea blanco */
    border-bottom: 3px solid #ea00f6; /* Mantén el borde inferior si lo deseas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantén la sombra para profundidad */
  }
  
  ion-toolbar {
    --background: transparent !important; /* Evita que el ion-toolbar sobrescriba el color de fondo */
  }
  ion-title{
    color: white;
  }
  ion-icon{
    color: white;
  }