<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu-informes" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="title-container">
      <ion-title class="otf-font">Informes Anotación</ion-title>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background-container ion-padding">
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterAlumnos()"></ion-searchbar>
  <ion-select placeholder="Seleccionar Curso" [(ngModel)]="selectedCurso" (ionChange)="filterAlumnos()">
    <ion-select-option value="">Todos los Cursos</ion-select-option> <!-- Opción para deseleccionar -->
    <ion-select-option *ngFor="let curso of cursos" [value]="curso.curso">
      {{ curso.curso }}
    </ion-select-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let alumno of filteredAlumnos">
      <ion-label>
        <h2>{{ alumno.nombre }} {{ alumno.apellido }} {{ alumno.apmaterno }}</h2>
        <p>RUT: {{ alumno.rut }}</p>
        <p>Curso: {{ alumno.curso?.curso || 'Sin curso' }}</p>
      </ion-label>
      <ion-button (click)="presentModal(alumno.rut)">Generar PDF</ion-button>
      <ion-button (click)="verAnotaciones(alumno.rut)">Ver Anotacion</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
