<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>verNotas</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <h2>Información del Alumno</h2>
  <p><strong>Nombre:</strong> {{ nombre }}</p>
  <p><strong>RUT:</strong> {{ rut }}</p>
  <p><strong>Curso:</strong> {{ curso }}</p>
  
  <div class="notas-container">
    <h3>Notas</h3>
    <ul class="notas-list">
      <li *ngFor="let asignatura of notasAgrupadas | keyvalue" class="nota-item">
        <strong>Asignatura:</strong> {{ asignatura.key }} - 
        <strong>Notas:</strong> 
        <span *ngFor="let nota of asignatura.value; let i = index">
          {{ nota.nota }}<span *ngIf="i < asignatura.value.length - 1">, </span>
        </span>
      </li>
    </ul>
  </div>
</div>
