@font-face {
  font-family: 'Kaushan';
  src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
}
.otf-font {
  font-family: 'Kaushan', sans-serif;
}
/* Estilos para el encabezado */
ion-header {
  background-color: transparent; /* Encabezado transparente */
}

/* Estilos para el contenido */
ion-content {
  background-color: #f4f4f4; /* Color de fondo */
}

/* Contenedor para los recuadros */
.background-container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  width: 100%; /* Garantizar que el contenedor ocupe todo el ancho disponible */
  height: 100%; /* Garantizar que el contenedor ocupe toda la altura disponible */
}

/* Estilos para los recuadros de iconos */
.icon-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  text-align: center; /* Centrar el contenido */
  padding: 30px; /* Aumentar el espaciado interno */
  margin: 10px; /* Espaciado entre recuadros */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.icon-container:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el cursor */
}

/* Estilos para las filas centradas */
.centered-row {
  display: flex;
  justify-content: center; /* Centrar los recuadros horizontalmente */
  flex-wrap: wrap; /* Permitir que los recuadros se ajusten y no se desborden */
  width: 100%; /* Asegura que las filas ocupen todo el ancho del contenedor */
}

/* Estilos para las columnas */
ion-col {
  display: flex;
  justify-content: center; /* Centrar el contenido de las columnas horizontalmente */
  align-items: center; /* Centrar el contenido de las columnas verticalmente */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .icon-container {
    flex: 0 0 calc(50% - 20px); /* Ancho del recuadro, ajustado para dos columnas */
  }
}

/* Estilos para el sidebar */
ion-col[size="3"] ion-list {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  padding: 20px; /* Espaciado interno */
}

.large-icon {
  color: rgba(0, 0, 0, 0.845); /* Color semi transparente */
  font-size: 4rem; /* Aumenta el tamaño del icono */
}

.icon-container ion-icon {
  color: rgba(0, 0, 0, 0.845); /* Color semi transparente */
  font-size: 4rem; /* Aumenta el tamaño del icono */
}

/* Estilos para las etiquetas de los iconos */
.icon-container ion-label {
  color: rgba(0, 0, 0, 0.8); /* Color del texto */
  margin-top: 20px; /* Espaciado superior */
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
}

.background-image {
  position: fixed; /* Fijar el fondo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/escuelatripulantes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  opacity: 0.6;
  z-index: -1; /* Colocar detrás del contenido */
}

.sidebar-list ion-item {
  background-color: rgba(255, 255, 255, 0.6); /* Color de fondo semitransparente */
}

.item-bottom {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  text-align: center; /* Centrar el contenido */
  padding: 20px; /* Espaciado interno */
}

.lista-menu {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  text-align: center; /* Centrar el contenido */
  padding: 20px; /* Espaciado interno */
}

ion-header {
  background-color: #000 !important; /* Asegúrate de usar negro sólido */
  color: #fff !important; /* Asegúrate de que el texto sea blanco */
  border-bottom: 3px solid #ea00f6; /* Mantén el borde inferior si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantén la sombra para profundidad */
}

ion-toolbar {
  --background: transparent !important; /* Evita que el ion-toolbar sobrescriba el color de fondo */
}

.title-container {
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
  color: white;
}
ion-icon{
  color: white;
}

.header-logo {
  height: 50px; /* Ajusta la altura del logo según sea necesario */
  margin-right: 10px; /* Espacio a la derecha del logo */
  
}
