<ion-header>
    <ion-toolbar>
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="config-container">
      <h1>Configuración</h1>
      <ul class="config-menu">
        <li><ion-icon name="person-add"></ion-icon> Registrar Usuario</li>
        <li><ion-icon name="clipboard"></ion-icon> Notas</li>
        <li><ion-icon name="shield-checkmark"></ion-icon> Permisos</li>
        <li><ion-icon name="key"></ion-icon> Recuperar Clave</li>
        <li><ion-icon name="book"></ion-icon> Asignatura</li>
        <li><ion-icon name="help-circle"></ion-icon> Nombre Vacío</li>
        <li><ion-icon name="help-circle"></ion-icon> Nombre Vacío</li>
        <li><ion-icon name="help-circle"></ion-icon> Nombre Vacío</li>
        <li><ion-icon name="help-circle"></ion-icon> Nombre Vacío</li>
      </ul>
    </div>
  </ion-content>
  