<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/reporte-grafico" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="title-container">
      <ion-title class="otf-font">Ver Graficos</ion-title>
    <ion-button slot="end" (click)="generarReporte()">Generar Reporte</ion-button>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo">
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
  <div id="contentToConvert">
    <div>
      <ion-list>
        <ion-item *ngFor="let alumno of alumnos">
          <ion-label>
            <h2>{{ alumno.nombre }} {{ alumno.apellido }} {{ alumno.apmaterno }}</h2>
            <p>RUT: {{ alumno.rut }}</p>
            <p>Curso: {{ alumno.curso.curso }}</p>
          </ion-label>
          <ion-label>
            <p>Total de Días: {{ totalDias }}</p>
            <p>Días Asistidos: {{ alumno.diasAsistidos }}</p>
            <p>Porcentaje de Asistencia: {{ alumno.porcentajeAsistencia | number:'1.0' }}%</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <canvas id="grafico"></canvas>
    </div>
  </div>
</ion-content>
