<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/configuracion" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="title-container">
      <ion-title class="otf-font">Crear Asistente Educativo</ion-title>
      <img src="/assets/icon/Classtrack.png" class="header-logo" alt="ClassTrack Logo" (click)="irAInicio()">
      <ion-icon name="notifications-outline" class="notification-icon" (click)="toggleNotificationsMenu()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<div class="notifications-menu" [class.show]="showNotificationsMenu">
  <ion-list>
    <ion-item *ngFor="let notification of notifications">
      {{ notification }}
    </ion-item>
  </ion-list>
</div>

<ion-content class="ion-padding">
  <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrese los datos del nuevo asistente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="FormularioAsistente" (ngSubmit)="agregarAsistente()">
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input type="text" formControlName="rut" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input type="text" formControlName="apellido" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input type="text" formControlName="apmaterno" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de Nacimiento</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" formControlName="fecha_nacimiento" required></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rol</ion-label>
          <ion-select formControlName="rol" placeholder="Selecciona un Rol">
            <ion-select-option *ngFor="let rol of rol" [value]="rol.rol">
              {{ rol.rol }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button type="submit" expand="medium" color="primary">Agregar Asistente</ion-button>
      </form>
      <ion-button (click)="fileInput.click()" expand="medium" color="secondary">Cargar CSV</ion-button>
      <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;" accept=".csv"/>
    </ion-card-content>
  </ion-card>
</ion-content>
