<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar class="icono-menu">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="custom-content">
      <div class="custom-background"></div> <!-- Aquí se colocará la imagen de fondo difuminada -->
      <ion-list lines="none" class="lista-menu" >
        <ion-item class="icono-menu">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label >Inicio</ion-label>
        </ion-item>
        <ion-item class="icono-menu">
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label>Libro de Clases</ion-label>
        </ion-item>
        <ion-item class="icono-menu">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Anotaciones</ion-label>
        </ion-item>
        <ion-item class="icono-menu">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>Asistencia</ion-label>
        </ion-item>
        <ion-item class="icono-menu">
          <ion-icon name="eye" slot="start"></ion-icon>
          <ion-label>Observaciones</ion-label>
        </ion-item>
        <ion-item class="icono-menu">          
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Reportes</ion-label>   
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button> <!-- Agrega el botón del menú -->
        </ion-buttons>
        <ion-title>ClassTrack</ion-title>
        <ion-buttons slot="end">
          <ion-button >
            <ion-title>salir</ion-title>
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="background-container">
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="icon-container" (click)="librodeclases()" [routerLink]="['/cursos']">
            <ion-icon name="book" class="large-icon"></ion-icon>
            <ion-label>Libro de Clases</ion-label>
          </ion-col>
          <ion-col size="6" class="icon-container" (click)="anotaciones()" [routerLink]="['/anotacion']">
            <ion-icon name="create" class="large-icon"></ion-icon>
            <ion-label>Anotaciones</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="icon-container" (click)="asistencia()" [routerLink]="['/asistencia']">
            <ion-icon name="people" class="large-icon"></ion-icon>
            <ion-label>Asistencia</ion-label>
          </ion-col>
          <ion-col size="6" class="icon-container" (click)="observacion()" [routerLink]="['/observacion']">
            <ion-icon name="eye" class="large-icon"></ion-icon> 
            <ion-label>Observaciones</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="icon-container" (click)="reporte()" [routerLink]="['/reporte']">
            <ion-icon name="document" class="large-icon"></ion-icon>
            <ion-label>Reportes</ion-label>
          </ion-col>
          <ion-col size="6" class="icon-container" (click)="configuracion()" [routerLink]="['/Configuracion']">
            <ion-icon name="settings" class="large-icon"></ion-icon>
            <ion-label>Configuracion</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </ion-content>
  </ion-router-outlet>
</ion-app>





