<ion-app>
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <!-- Contenedor de los datos del usuario en línea -->
        <div class="user-info-header">
          <span *ngIf="userData"><strong>Usuario: </strong> {{ userData.rut }}</span>
          <span *ngIf="userData"><strong> - </strong> {{ userData.nombre }} {{ userData.apellido }}</span>
          <span><strong> - </strong> {{ userEmail }}</span>
          <span *ngIf="userData"><strong> - </strong> {{ userData.rol }}</span>
        </div>

        <ion-title class="otf-font">ClassTrack</ion-title>
        
        <ion-buttons class="boton-logout" slot="end">
          <ion-icon name="notifications-outline" class="notification-icon" (click)="toggleNotificationsMenu()"></ion-icon>
          <ion-button class="cerrar-sesion" (click)="logOut()">
            <ion-title class="logout">Cerrar sesión</ion-title>
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <div class="notifications-menu" [class.show]="showNotificationsMenu">
      <ion-list>
        <ion-item *ngFor="let notification of notifications">
          {{ notification.mensaje }} <!-- Asegúrate de que `mensaje` sea el campo correcto -->
        </ion-item>
      </ion-list>
    </div>
    

    <ion-content class="ion-padding">
      <img src="/assets/escuelatripulantes.jpg" class="background-image" alt="Imagen de fondo">
      <div>
        <ion-grid>
          <ion-row class="centered-row">
            <ion-col size="4" class="icon-container" (click)="irACurso('librodeclases')">
              <img src="/assets/icon/lbclases1.png" class="large-icon" alt="Libro de Clases">
              <ion-label class="otf-font2">Libro de Clases</ion-label>
            </ion-col>
            <ion-col size="4" class="icon-container" (click)="irACurso('anotaciones')" [routerLink]="['/anotacion']">
              <img src="/assets/icon/Anotaciones1.png" class="large-icon" alt="Anotaciones">
              <ion-label class="otf-font2">Anotaciones</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="centered-row">
            <ion-col size="4" class="icon-container" (click)="irACurso('asistencia')">
              <img src="/assets/icon/Asistencia1.png" class="large-icon" alt="Asistencia">
              <ion-label class="otf-font2">Asistencia</ion-label>
            </ion-col>
            <ion-col size="4" class="icon-container" (click)="observacion()" [routerLink]="['/observacion']">
              <img src="/assets/icon/Observaciones1.png" class="large-icon" alt="Observaciones">
              <ion-label class="otf-font2">Observaciones</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="centered-row">
            <ion-col size="4" class="icon-container" (click)="informes()" [routerLink]="['/menu-informes']">
              <img src="/assets/icon/reportes1.png" class="large-icon" alt="Reportes">
              <ion-label class="otf-font2">Informes</ion-label>
            </ion-col> 
            <ion-col size="4" class="icon-container" (click)="configuracion()" [routerLink]="['/Configuracion']">
              <img src="/assets/icon/configuracion1.png" class="large-icon" alt="Configuracion">
              <ion-label class="otf-font2">Configuracion</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
     
    <ion-footer>
      <ion-toolbar>
        <ion-title>Footer Content</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-router-outlet>
</ion-app>
