/* Estilos para el encabezado */
@font-face {
  font-family: 'Kaushan';
  src: url('/assets/fuentes/KaushanScript-Regular.otf') format('opentype');
}
.otf-font {
  font-family: 'Kaushan', sans-serif;
}
@font-face {
  font-family: 'Exo';
  src: url('/assets/fuentes/Exo-SemiBoldItalic.otf') format('opentype');
}
.otf-font2 {
  font-family: 'Exo', sans-serif;
}

ion-header {
  background-color: #000 !important; /* Asegúrate de usar negro sólido */
  color: #fff !important; /* Asegúrate de que el texto sea blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Mantén la sombra para profundidad */
  position: relative; /* Asegura que el position relative está presente */
}

ion-toolbar {
  --background: transparent !important; /* Evita que el ion-toolbar sobrescriba el color de fondo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center; /* Alinear verticalmente el logo y el nombre de usuario */
  position: absolute; /* Posicionar el contenedor a la izquierda */
  left: 10px; /* Espacio desde el borde izquierdo */
}

.header-container {
  background-color: #00000092; /* Fondo negro */
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
}

.header-logo {
  height: 50px; /* Ajusta la altura del logo según sea necesario */
  margin-right: 10px; /* Espacio a la derecha del logo */
}

ion-title {
  font-weight: bold; /* Texto en negrita */
  flex: 1; /* Permitir que el título ocupe el espacio disponible */
  text-align: center; /* Centrar el texto */
  color: white; /* Color del texto en blanco */
}

ion-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

ion-buttons[slot="start"] {
  left: 10px;
}

ion-buttons[slot="end"] {
  right: 10px;
}

/* Estilos para el contenido */
ion-content {
  background-color: #f4f4f4; /* Color de fondo */
}

/* Estilos para los contenedores de iconos */
.icon-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  text-align: center; /* Centrar el contenido */
  padding: 30px; /* Espaciado interno */
  margin: 20px; /* Espaciado entre recuadros */
  box-sizing: border-box; /* Asegura que el padding y margin se incluyan en el tamaño total */
}

.icon-container ion-label {
  color: rgba(0, 0, 0, 0.8); /* Color del texto */
  margin-top: 10px; /* Espaciado superior */
}

.icon-container:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el cursor */
}

/* Centrar las filas */
.centered-row {
  display: flex;
  justify-content: center; /* Centrar los recuadros horizontalmente */
  flex-wrap: wrap; /* Permitir que los recuadros se ajusten y no se desborden */
}

.background-image {
  position: fixed; /* Fijar el fondo en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/escuelatripulantes.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  filter: blur(10px);
  opacity: 0.6;
  z-index: -1; /* Colocar detrás del contenido */
}

.sidebar-list ion-item {
  background-color: rgba(255, 255, 255, 0.6); /* Color de fondo semitransparente */
}

.item-bottom {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  text-align: center; /* Centrar el contenido */
  padding: 20px; /* Espaciado interno */
}

.lista-menu {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi transparente */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Profundidad */
  overflow: hidden;
  text-align: center; /* Centrar el contenido */
  padding: 20px; /* Espaciado interno */
}

.user-info-header {
  display: flex; /* Cambia el layout a flex para alinear los elementos en línea */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  margin-right: auto; /* Empuja el contenido hacia la izquierda */
  margin-left: 10px; /* Espacio entre el botón del menú y los datos del usuario */
  font-size: 14px;
  color: var(--ion-color-white); /* O el color que prefieras */
}

.user-info-header span {
  margin: 0 10px; /* Añade espacio a la derecha e izquierda de cada elemento */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

.custom-content {
  position: relative;
  border-radius: 15px; /* Bordes redondeados */
}

.large-icon {
  width: 50px; /* Ajusta el tamaño del ícono según sea necesario */
  height: 50px;
  margin-bottom: 10px; /* Espacio entre el ícono y la etiqueta */
  display: inline-block; /* Asegura que los íconos se alineen correctamente con el texto */
  vertical-align: middle; /* Centra verticalmente el ícono con el texto */
}

.logout {
  color: white;
  font-size: small;
}

.cerrar-sesion {
  vertical-align: middle;
}

ion-icon {
  color: white;
  font-size: big;
}

.boton-logout {
  border-radius: 50px; /* Bordes redondeados */
}

.user-name {
  color: white; /* Color del texto */
  font-style: italic;
  font-size: 16px; /* Tamaño del texto */
  font-weight: normal; /* Peso del texto */
}

ion-footer {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}

ion-footer ion-toolbar {
  text-align: center;
  padding: 10px;
}

ion-footer ion-title {
  font-size: 14px;
  color: #333;
}

.font-semibold {
  font-weight: bold;
  font-style: inherit;
}

.notification-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
}

.notifications-menu {
  position: absolute;
  top: 50px; /* Ajusta según tu diseño */
  right: 10px; /* Ajusta según tu diseño */
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1; /* Asegura que el menú esté sobre otros elementos */
  display: none;
}

.notifications-menu.show {
  display: block;
}

/* Animación de border-bottom */
ion-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Grosor del border-bottom */
  background-color: #3498db; /* Color inicial del border-bottom */
  animation: changeBorderColor 5s linear infinite alternate;
}

@keyframes changeBorderColor {
  0% { background-color: #1078ef; } /* Azul */
  20% { background-color: #24c8ff; } /* Turquesa */
  40% { background-color: #14e4ef; } /* Blanco */
  60% { background-color: #2e44e7; } /* Azul */
  80% { background-color: #3d1abc; } /* Turquesa */
  100% { background-color: #9410ec; } /* Blanco */
}

/* Responsive styles */
@media (max-width: 768px) {
  ion-toolbar {
    flex-direction: column;
  }

  .user-info-header {
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  ion-title {
    text-align: center;
    margin: 10px 0;
  }

  .boton-logout {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
